[run]
include =
  src/*
  testing/*
  */lib/python*/site-packages/_wheel2deb/*
  */lib/python*/site-packages/wheel2deb.py
  */lib/python*/dist-packages/_wheel2deb/*
  */lib/python*/dist-packages/wheel2deb.py
parallel = 1
branch = 1
