{{ package.name }} ({{ package.version }}) {{ ctx.distribution }}; urgency=medium

  * Debianize {{ package.upstream_version }}

 -- {{ ctx.maintainer_name }} <{{ ctx.maintainer_email }}>  {{ timestamp }}
